# Basic file writing :  http://devopspy.com/linux/python-script-linux-systemd-service/ 
# Automatic restart  :  https://www.digitalocean.com/community/tutorials/how-to-configure-a-linux-service-to-start-automatically-after-a-crash-or-reboot-part-1-practical-examples

[Unit]
Description=Job monitoring service V1.0
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/ubuntu/guin/env_guin/bin/python /home/ubuntu/guin/run_monitoring.py
Restart=always

[Install]
WantedBy=multi-user.target
